In [2]:
import pandas as pd
import sqlalchemy as sa 
from sqlalchemy import create_engine

In [3]:
canada_sales = pd.read_csv('canada_sales.csv')
usa_sales = pd.read_csv('usa_sales.csv')

print(canada_sales.dtypes)
print(usa_sales.dtypes)

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [4]:
canada_sales['Price Each'] = pd.to_numeric(canada_sales['Price Each'], errors='coerce')
canada_sales['Quantity Ordered'] = pd.to_numeric(canada_sales['Quantity Ordered'], errors='coerce')
usa_sales['Quantity Ordered'] = pd.to_numeric(usa_sales['Quantity Ordered'], errors='coerce')
usa_sales['Price Each'] = pd.to_numeric(usa_sales['Price Each'], errors='coerce')
print(canada_sales.dtypes)
print(usa_sales.dtypes)

Order ID             object
Product              object
Quantity Ordered    float64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object
Order ID             object
Product              object
Quantity Ordered    float64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [5]:
canada_sales.dropna(inplace=True)
usa_sales.dropna(inplace=True)

print(canada_sales.isna().sum())
print(usa_sales.isna().sum())

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64
Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [6]:
conversion_rate = 0.72
canada_sales['Price Each'] = canada_sales['Price Each'] = conversion_rate
canada_sales['Price Each'].head()

0    0.72
2    0.72
3    0.72
4    0.72
5    0.72
Name: Price Each, dtype: float64

In [7]:
merged_sales = pd.concat([canada_sales, usa_sales], ignore_index=True)

In [8]:
merged_sales.dropna (inplace=True)
merged_sales.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [9]:
merged_sales.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2.0,0.72,04/19/19 08:46,"128 Elm St, Quebec City"
1,176559,Bose SoundSport Headphones,1.0,0.72,04/07/19 22:30,"116 Elm St, Winnipeg"
2,176560,Google Phone,1.0,0.72,04/12/19 14:38,"149 Broadway, Edmonton"
3,176560,Wired Headphones,1.0,0.72,04/12/19 14:38,"121 Maple St, Vancouver"
4,176561,Wired Headphones,1.0,0.72,04/30/19 09:27,"123 Cedar Ave, Vancouver"

In [10]:

merged_sales.dtypes

Order ID             object
Product              object
Quantity Ordered    float64
Price Each          float64
Order Date           object
Purchase Address     object
dtype: object

In [11]:

db_url = 'postgresql://test_render_9ni4_user:SvqAwX9yvqh3bKGRzcYW32SG5lbLThQV@dpg-d0632t2li9vc73dv4heg-a.oregon-postgres.render.com/test_render_9ni4'
conn = sa.create_engine(db_url)

In [12]:
merged_sales.to_sql('merged_sales', conn, if_exists='replace', index=False)

246

In [13]:
df = pd.read_sql('SELECT * FROM merged_sales', conn)
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2.0,0.72,04/19/19 08:46,"128 Elm St, Quebec City"
1,176559,Bose SoundSport Headphones,1.0,0.72,04/07/19 22:30,"116 Elm St, Winnipeg"
2,176560,Google Phone,1.0,0.72,04/12/19 14:38,"149 Broadway, Edmonton"
3,176560,Wired Headphones,1.0,0.72,04/12/19 14:38,"121 Maple St, Vancouver"
4,176561,Wired Headphones,1.0,0.72,04/30/19 09:27,"123 Cedar Ave, Vancouver"
...,...,...,...,...,...,...
30241,248146,Bose SoundSport Headphones,1.0,99.99,08/29/19 22:19,"868 Hickory St, San Francisco, CA 94016"
30242,248147,AAA Batteries (4-pack),3.0,2.99,08/31/19 16:26,"206 Lakeview St, Boston, MA 02215"
30243,248148,AA Batteries (4-pack),1.0,3.84,08/02/19 07:25,"568 13th St, Seattle, WA 98101"
30244,248149,USB-C Charging Cable,1.0,11.95,08/08/19 12:10,"495 Walnut St, San Francisco, CA 94016"
30245,248150,AA Batteries (4-pack),1.0,3.84,08/16/19 08:13,"738 Park St, Los Angeles, CA 90001"

In [14]:
conn.dispose()